body {
  margin: 0 !important;
  padding: 0;
}

.ck-admin-logo {
  height: 10px;
}



/*.loginForm2 {
  margin-left: auto;
  margin-right: auto;
}

.loginButton {
  margin-left: 32.5%;
  margin-right: 32.5%;
  margin-top: 35px;
}*/


.support_title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 65px;
  margin-bottom: 65px;
}
