body {
  margin: 0 !important;
  padding: 0;
}

.ck-admin-logo {
  height: 45px;
  margin: 50px;
}

.ck-admin-nav-logo{
  height: 30px;
  margin-top: 15px;
  margin-left: 230px;
}


.link {
  font-family: 'Roboto', sans-serif;
  color: #168644;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
}
