body {
  margin: 0 !important;
  padding: 0;
}

.ck-admin-logo {
  height: 45px;
  margin: 50px;
}

.ck-admin-nav-logo{
  height: 30px;
  margin-top: 15px;
  margin-left: 230px;
}

.search_user{
  margin-top: 30px;
}

.seach_title{
  font-family: 'Roboto', sans-serif;
  color: #737373;
  font-size: 20px;
}

.search_table {
  margin-top: 20px;
}

.table_data {
  font-family: 'Roboto', sans-serif;
  color: #737373;
}

.table_header {
  font-family: 'Roboto', sans-serif;
  color: #2D2A32;
}

.table_pic {
  width: 10px;
}

.table_email {
  width: 180px;
}


// .text_field_row{
//   display: inline-block;;
// }
//
// .loginForm2 {
//   margin-left: auto;
//   margin-right: auto;
// }

// .loginButton {
//   background-color: blue;
// }
