.search_table {
  margin-top: 20px;
}

.table_data {
  font-family: 'Roboto', sans-serif;
  color: #737373;
}

.table_header {
  font-family: 'Roboto', sans-serif;
  color: #2D2A32;
}

.table_pic {
  width: 10px;
}

.table_email {
  width: 180px;
}
