.user_profile_name{
  font-family: 'Roboto', sans-serif;
  color: #2D2A32;
  font-size: 20px;
  font-weight: lighter;
  margin-top: 25px;
  line-height: 1;
}

.avatar {
  height: 80px;
  margin-top: 25px;
}

.login_as_link {
  margin-top: 25px;
  line-height: 1;
}

// .tab_background {
//   background-color: white;
// }
